<%- include('header');-%>
<h1>this is about page</h1>
<p>sdkfj l sjfkla fkg glgjaks glka gdslkagjklkgjblk adfjkjl jvlkajfklab jlkjlkg gklajgklgjlabgss g dkjgjlkg lk jkdjklj lk jlkjdsklag j jkldasjaslk gjl</p>
<%- include('footer');-%>
